In [28]:
import pandas as pd

df=pd.read_csv("healthcare_patient_data.csv")
df.head()

,patient_id,age,gender,department,admit_date,length_of_stay,prior_admissions_6mo,comorbidity_count,blood_glucose,blood_pressure,med_count,readmitted_30d
0,1001,71,Male,General Medicine,2023-01-01,10,3,3,153,158,5,0
1,1002,34,Female,Oncology,2023-01-02,9,0,0,78,179,4,0
2,1003,80,Male,Orthopedics,2023-01-03,5,1,1,235,151,10,1
3,1004,40,Female,Oncology,2023-01-04,6,2,5,245,155,1,1
4,1005,43,Male,Orthopedics,2023-01-05,4,1,0,132,153,10,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patient_id            300 non-null    int64
 1   age                   300 non-null    int64
 2   gender                300 non-null    object
 3   department            300 non-null    object
 4   admit_date            300 non-null    object
 5   length_of_stay        300 non-null    int64
 6   prior_admissions_6mo  300 non-null    int64
 7   comorbidity_count     300 non-null    int64
 8   blood_glucose         300 non-null    int64
 9   blood_pressure        300 non-null    int64
 10  med_count             300 non-null    int64
 11  readmitted_30d        300 non-null    int64
dtypes: int64(9), object(3)
memory usage: 28.3+ KB

In [9]:
df.describe()

,patient_id,age,length_of_stay,prior_admissions_6mo,comorbidity_count,blood_glucose,blood_pressure,med_count,readmitted_30d
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1150.500000,53.870000,7.433333,1.913333,2.500000,158.780000,134.143333,5.706667,0.330000
std,86.746758,20.496996,3.923886,1.411547,1.681097,52.912039,26.332123,3.036119,0.470998
min,1001.000000,20.000000,1.000000,0.000000,0.000000,70.000000,90.000000,1.000000,0.000000
25%,1075.750000,37.000000,4.000000,1.000000,1.000000,113.000000,111.000000,3.000000,0.000000
50%,1150.500000,53.500000,7.000000,2.000000,2.000000,160.000000,133.000000,5.000000,0.000000
75%,1225.250000,72.000000,11.000000,3.000000,4.000000,202.250000,159.000000,8.000000,1.000000
max,1300.000000,89.000000,14.000000,4.000000,5.000000,248.000000,179.000000,11.000000,1.000000

In [10]:
df.isnull().sum()

patient_id              0
age                     0
gender                  0
department              0
admit_date              0
length_of_stay          0
prior_admissions_6mo    0
comorbidity_count       0
blood_glucose           0
blood_pressure          0
med_count               0
readmitted_30d          0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.drop_duplicates(inplace=True)

In [16]:
df["admit_date"] = pd.to_datetime(df["admit_date"])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patient_id            300 non-null    int64
 1   age                   300 non-null    int64
 2   gender                300 non-null    object
 3   department            300 non-null    object
 4   admit_date            300 non-null    datetime64[ns]
 5   length_of_stay        300 non-null    int64
 6   prior_admissions_6mo  300 non-null    int64
 7   comorbidity_count     300 non-null    int64
 8   blood_glucose         300 non-null    int64
 9   blood_pressure        300 non-null    int64
 10  med_count             300 non-null    int64
 11  readmitted_30d        300 non-null    int64
dtypes: datetime64[ns](1), int64(9), object(2)
memory usage: 28.3+ KB

In [20]:
df['admit_month'] = df['admit_date'].dt.month
df['admit_day'] = df['admit_date'].dt.day
df['admit_day_name'] = df['admit_date'].dt.day_name()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patient_id            300 non-null    int64
 1   age                   300 non-null    int64
 2   gender                300 non-null    object
 3   department            300 non-null    object
 4   admit_date            300 non-null    datetime64[ns]
 5   length_of_stay        300 non-null    int64
 6   prior_admissions_6mo  300 non-null    int64
 7   comorbidity_count     300 non-null    int64
 8   blood_glucose         300 non-null    int64
 9   blood_pressure        300 non-null    int64
 10  med_count             300 non-null    int64
 11  readmitted_30d        300 non-null    int64
 12  admit_month           300 non-null    int32
 13  admit_day             300 non-null    int32
 14  admit_day_name        300 non-null    object
dtypes: datetime64[ns](1), int32(2), int64(9), object(3)
memory usage: 32.9+ KB

In [23]:
df['gender'] = df['gender'].str.title()
df['department'] = df['department'].str.title()

In [25]:
q1 = df['blood_glucose'].quantile(0.25)
q3 = df['blood_glucose'].quantile(0.75)
iqr = q3 - q1
lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

df['blood_glucose'] = df['blood_glucose'].clip(lower, upper)

In [26]:
q1 = df['blood_pressure'].quantile(0.25)
q3 = df['blood_pressure'].quantile(0.75)
iqr = q3 - q1
lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

df['blood_pressure'] = df['blood_pressure'].clip(lower, upper)

In [27]:
df.to_csv("healthcare_patient_data_cleaned.csv", index=False)